.fishList {
    background-color: #eff6ee;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0em 0em 8em 0em;
}

.fish {
    background-color: #eff6ee;
    margin: .5em;
}


.fish__picture {
    width:  20em;
    height: 20em;
    object-fit:cover;
    border-radius: 180px;
    border: #FFBE86 10px outset;
    transition: transform .3s;
    filter:drop-shadow(10px 10px 4px #9DACB2)
}

.fish__picture:hover {
    transform: scale(1.015) rotate(1deg);
}

.fish__list {
    list-style-type: none;
    text-align: center;
}       