.locationTitle {
    text-align: center;
    font-size: 3.5em;
    margin: 1em 0em;
    text-shadow: 2px 2px 4px #FFBE86;
}


.locationList {
    background-color: #eff6ee;
    display: flex;
    justify-content: space-evenly;
}

.location {
    background-color: #eff6ee;
    margin: 1em;
}


.location__picture {
    width:  20em;
    height: 20em;
    object-fit:cover;
    border-radius: 90px;
    border: #676f54 10px inset;
    filter:drop-shadow(10px 10px 4px #9DACB2)
}


.location__details {
    margin: 1.5em;
    text-align: center;
    font-size: x-large;
}