.tipList {
    background-color: #eff6ee;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 5px;
}

.tip {
    background-color: #e4eee3;
    font-size: 1.25em;
    padding: 1.5em;
    margin: 1em;
    border-radius: 90px;
    border: #eff6ee 10px inset;
}

.tipsTitle {
    text-align: center;
    font-size: 3.5em;
    margin: 1em 0em;
    text-shadow: 2px 2px 4px #FFBE86;

}